/* GENERAL */
html {
  font-family: sans-serif;
}

.flex-row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

main {
  margin-bottom: auto;
  width: 100%;
}

.spacer {
  aspect-ratio: 1920/150;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  margin: 0%;
}

h3 {
  font-size: 3em;
  font-weight: 600;
  color: #007fb0;
}

h4 {
  font-size: 3.2em;
  font-weight: 500;
  color: white;
}

a {
  color: #c7cbda;
  text-decoration: none;
}

a:hover {
  color: #0099d2;
  text-decoration: underline;
}

/* HEADER */
header {
  background-color: #be1622;
}

#main-header {
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.logo {
  display: flex;
  margin: 5px;
}

#UCLan-logo {
  height: 6em;
}

.main-nav {
  display: flex;
  flex: 35%;
  align-self: center;
  justify-content: end;
}

.main-nav-list {
  display: flex;
  font-size: 1.1em;
  padding-left: 1em;
}

.phone-menu-btn {
  display: none;
}

.phone-nav-list {
  display: flex;
  width: 90%;
  font-size: 1.1em;
  padding-left: 1em;
}

#phone-nav {
  display: none;
}

.header-border-img {
  background-image: url('../images/layered-waves-red-white-top.svg');
}

/* FOOTER */
footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  color: white;
  background-color: #34516c;
}

#main-footer {
  display: flex;
  flex: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-container {
  width: 33%;
  text-align: center;
}

.info-list {
  list-style: none;
  padding-left: 0%;
}

@media screen and (max-width: 775px) {
  h3 {
    font-size: 2em;
  }

  #main-header {
    margin-left: 5%;
    margin-right: 5%;
  }

  #UCLan-logo {
    height: 4em;
  }
}

@media screen and (max-width: 600px) {
  .main-nav-list {
    display: none;
  }

  #phone-nav {
    display: none;
  }

  .phone-menu-btn {
    display: flex;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/2048px-Hamburger_icon.svg.png');
    background-size: cover;
    background-position: center;
    width: 2em;
    height: 2em;
  }

  a {
    font-size: 0.75em;
  }
  .info-container ul li {
    font-size: 0.5em;
  }

  h2 {
    font-size: 1em;
  }
}
