/* ITEM PAGE*/
#product-main-container {
  display: flex;
  justify-content: center;
}

#product-container {
  display: flex;
}

#primary-product-image {
  width: 35em;
}

#product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#function-container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 12.5em;
}

.add-to-basket {
  width: 15em;
  padding: 0.7em;
  border: none;
  border-radius: 12px;
  background-color: #c7cbda;
  color: #007fb0;
  text-align: center;
}

#description-h {
  margin-bottom: 0%;
  font-size: 1em;
}

#product-description {
  margin: 0%;
  width: 20em;
}

@media screen and (max-width: 600px) {
  #primary-product-image {
    width: 12em;
  }

  #function-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 6em;
    width: 5em;
  }

  #selected-product-description-container {
    display: none;
  }
}
