html{
  font-family: sans-serif;
}
/*Whole body*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0%;
}

h2 {
  font-size: 3.7em;
  font-weight: 500;
  color: #007fb0;
}

h3{
  font-size: 5em;
  font-weight: 500;
  color: #fff;
}

a {
  color: #c7cbda;
  text-decoration: none;
}

a:hover {
  color: #0099d2;
  text-decoration: underline;
}

/* Header */
header {
  background-color: #be1622;
}

#main-header {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}
.logo {
  display: flex;
  margin: 5px;
}

#UCLan-logo {
  height: 6em;
}

.main-nav {
  display: flex;
  flex: 35%;
  align-self: center;
  justify-content: end;
}

.main-nav-list {
  display: flex;
  font-size: 1.1em;
  padding-left: 1em;
}

/* Main body*/
main {
  margin-bottom: auto;
  width: 100%;
}

/*Home page*/
.quote-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.quote-contaier{
  display: flex;
 width: 33%;
  border-color: black;  
  background-position: center;
  background-size: cover;
}

.quote-img-1{
  background-image: url('https://uclan.ac.uk/image-library/content/study-here/study-here-undergraduate-1.x2c969c6e.jpg?width=600&height=400&fit=crop&quality=75&format=webp');
}

.quote-img-2{
  background-image: url('https://i2-prod.manchestereveningnews.co.uk/incoming/article15068270.ece/ALTERNATES/s615/1_UCLAN-image.jpg');
}

.quote-img-3{
  background-image: url('https://uclan.ac.uk/image-library/facilities/22139-law-courtroom.x7aaae7f7.jpg?w=1200&h=630&q=75&f=webp');
}

.left-info-row {
  display: flex;
  margin: 0.5em;
  margin-left: 5%;
  background-color: transparent;
}

.right-info-row {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5%;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  align-items: center;
  justify-content: center;
}

.spacer {
  aspect-ratio: 1920/150;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -1px;
  background-color: white;
}

.header-border-img {
  background-image: url("layered-waves-red-white-top.svg");
}

/* Footer */
footer {
  display: flex;
  color: whitesmoke;
  background-color: #34516c;
}

#main-footer {
  display: flex;
  flex: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-container {
  width: 33%;
  text-align: center;
}

.info-list {
  list-style: none;
  padding-left: 0%;
}
